body {background-color:#ECF2FF;
color: #181823;}

hr {border-style: dotted none none none;
    border-color: #BFACE2;
    border-width: 5px;
    width: 90%;}

img {height: 150px;
width: auto;}

h1 { color: #3E54AC;}
h3 { color: #655DBB;}